{% extends 'base.html' %}


{% block content %}

    <div class="container mt-4">
        <h3 class="text-center display-5 my-2">MadyPro Categories</h3>
        <div class="row">
            <div class="text-center">
                <p class="lead">Be It Home Decor, Laptop Repair, or Beauty & Grooming - We Provide What You Want!</p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <p class="lead">- found <b>{{ categories|length }}</b> category(s)</p>
        <div class="row">
            {% for category in categories %}
            <!-- Card 1 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <!-- <img src="service-image1.jpg" class="card-img-top" alt="Service 1"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="card-text">{{category.services|length}}</p>
                        <a href="{{ url_for('get_services_of_category', category_id=category.id) }}" class="btn btn-primary">Choose Services</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}