{% extends 'base.html' %}


{% block content %}

    <div class="container mt-4">
        <h3 class="text-center display-5 my-2">MadyPro Categories</h3>
        <div class="row">
            <div class="text-center">
                <p class="lead">Be It Home Decor, Laptop Repair, or Beauty & Grooming - We Provide What You Want!</p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <form action="{{ url_for('categories') }}" method="GET" class="d-flex justify-content-center mb-4">
            <input type="text" name="keyword" placeholder="Search for category..." class="form-control w-50" required>
            <button type="submit" class="btn btn-warning ms-2">Get Results</button>
        </form>
    </div>  

    <div class="container mt-4">
        <p class="lead">- found <b>{{ categories|length }}</b> category(s)</p>
        <div class="row">
            {% for category in categories %}
            <div class="col-md-3 mb-4">
                <div class="card border border-0">
                    <div class="card-body shadow rounded">
                        <h5 class="card-title text-center">{{ category.name }}</h5>
                        <p class="card-text text-center"><strong>{{category.services|length}}</strong> Available Services</p>
                        <div class="text-center">
                            <a href="{{ url_for('get_services_of_category', category_id=category.id) }}" class="btn btn-warning">Choose Service</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}