{% extends 'base.html' %} 

{% block content %}

    <div class="container mt-4">
        <h3 class="text-center display-6 my-2">{{ customer.name }}</h3>
        <div class="row">
        <div class="text-center">
            <p class="lead">
                {{ customer.email }} | 
                <span class="badge rounded-pill text-bg-info">{{ customer.pincode }}</span> |
                <a href="{{ url_for('update_customer') }}" type="submit" class="btn badge text-bg-warning">Update Profile</a>
            </p>
        </div>
        </div>
    </div>

    <div class="container">
      <p class="lead">- Booking History</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Professional Name</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
      
        <tbody>
          {% for request in service_requests %}
          <tr>
            <th scope="row">{{ request.id }}</th>
            <td>{{ request.professional.name }}</td>
            <td>{{ request.status }}</td>
            <td>
              <div class="d-inline">
                {% if request.status != "Closed" %}
                  <form
                      action="{{ url_for('rate_service', request_id=request.id) }}"
                      class="d-inline">
                      <button type="submit" class="btn btn-info">Close?</button>
                  </form>
     
                {% else %}
                  <span>No further actions available</span>
                {% endif %}
              </div>
            </td>
          </tr>
      
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}