{% extends 'admin.html' %}

{% block title %}
    Customers
{% endblock %}

{% block content %}

<div class="m-4">
    <h3 class="display-6 lead">Customers</h3>
</div>

<div class="container mt-4">
    <form action="{{ url_for('admin_customers') }}" method="GET" class="d-flex justify-content-center mb-4">
        <input type="text" name="keyword" placeholder="Search by name, or email..." class="form-control w-50" required>
        <button type="submit" class="btn btn-warning ms-2">Search</button>
    </form>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Pincode</th>
            <th scope="col"># of Requests Made</th>
        </tr>
    </thead>

    <tbody>
        {% for customer in customers %}
            <tr>
                <th scope="row">{{ customer.id }}</th>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.pincode }}</td>
                <td>{{ customer.service_requests|length }}</td>
            </tr>

        {% endfor %}
    
    </tbody>
</table>

{% endblock %}