{% extends 'admin.html' %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center m-4">
        <h3>Professionals</h3>
        <!-- <div>
            <a href="{{ url_for('add_service') }}" class="btn btn-primary me-2">Add New Professional</a>
            <a href="{{ url_for('add_category') }}" class="btn btn-primary">Add New Service Category</a>
        </div> -->
    </div>

    <!-- <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Centered button group">
                    <button type="button" class="btn btn-primary me-2">Button 1</button>
                    <button type="button" class="btn btn-secondary me-2">Button 2</button>
                    <button type="button" class="btn btn-success">Button 3</button>
                </div>
            </div>
        </div>
    </div> -->

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Service</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for professional in professionals %}
                <tr>
                    <th scope="row">{{ professional.id }}</th>
                    <td>{{ professional.name }}</td>
                    <td>{{ professional.email }}</td>
                    <td>{{ professional.service.name }}</td>
                    <td>{{ professional.status }}</td>
                    <td>
                        <div class="d-inline">
                            {% if professional.status == "Pending" %}
                                <form action="{{ url_for('activate_professional', professional_id=professional.id) }}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-success">Activate</button>
                                </form>
                            {% elif professional.status == "Active" %}
                                <form action="{{ url_for('deactivate_professional', professional_id=professional.id) }}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-warning">Deactivate</button>
                                </form>
                            {% elif professional.status == "InActive" %}
                                <form action="{{ url_for('activate_professional', professional_id=professional.id) }}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-success">Activate</button>
                                </form>
                            {% endif %}
                            <form action="{{ url_for('delete_professional', professional_id=professional.id) }}" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>

            {% endfor %}
        
        </tbody>
    </table>


{% endblock %}