{% extends 'admin.html' %}

{% block title %}
    Professionals
{% endblock %}


{% block content %}

    <div class="m-4">
        <h3 class="display-6 lead">Professionals</h3>
    </div>

    <div class="container mt-4">
        <form action="{{ url_for('admin_professionals') }}" method="GET" class="d-flex justify-content-center mb-4">
            <input type="text" name="keyword" placeholder="Search by name, or email..." class="form-control w-50" required>
            <button type="submit" class="btn btn-warning ms-2">Search</button>
        </form>
    </div>
    
    <div class="container">
        <p class="lead">- found <strong>{{ professionals|length }}</strong> professionals</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Service</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Work Experience</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for professional in professionals %}
                    <tr>
                        <th scope="row">{{ professional.id }}</th>
                        <td>{{ professional.name }}</td>
                        <td>{{ professional.email }}</td>
                        <td>{{ professional.service.name }}</td>
                        <td>{{ professional.rating }}</td>
                        <td>{{ professional.work_exp }}</td>
                        <td>{{ professional.status }}</td>
                        <td>
                            <div>
                                {% if professional.status in ["Pending","Blocked"] %}
                                    <form action="{{ url_for('activate_professional', professional_id=professional.id) }}" method="POST">
                                        <button type="submit" class="btn btn-info">Activate</button>
                                    </form>
                                {% elif professional.status == "Active" %}
                                    <form action="{{ url_for('block_professional', professional_id=professional.id) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Block</button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            
            </tbody>
        </table>
    </div>


{% endblock %}