{% extends 'base.html' %} 

{% block content %}

  <div class="container mt-4">
    <h3 class="text-center display-6 my-2">{{ professional.name }}</h3>
    <div class="row">
      <div class="text-center">
        <p class="lead">{{ professional.service.name }} Professional |
          {% if professional.status == professional_status.ACTIVE %}
            {% set spanClass = "text-bg-success" %} 
          {% elif professional.status == professional_status.PENDING %}
            {% set spanClass = "text-bg-warning" %}
          {% elif professional.status == professional_status.BLOCKED %}
            {% set spanClass = "text-bg-danger" %}
          {% endif %}
          <span class="badge {{ spanClass }}">{{ professional.status.value }}</span> |
          <span class="badge 
            {% if professional.rating == 0 %}
              text-bg-secondary
            {% elif 0 < professional.rating < 2.6 %}
              text-bg-danger
            {% elif 2.6 <= professional.rating < 4.1 %}
              text-bg-warning
            {% elif 4.1 <= professional.rating <= 5 %}
              text-bg-success
            {% endif %}"> {{ professional.rating }} 
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="lead">- Service Request History</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        
        {% for request in service_requests %}
        <tr>
          <th scope="row">{{ request.id }}</th>
          <td>{{ request.customer.name }}</td>
          <td>{{ request.status.value }}</td>
          <td>
            <div>
              {% if request.status == request_status.REQUESTED %}
                <form action="{{ url_for('accept_request', request_id=request.id) }}" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-info">Accept</button>
                </form>

                <form action="{{ url_for('reject_request', request_id=request.id) }}" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">Reject</button>
                </form>

              {% elif request.status == request_status.ACCEPTED %}
                <form action="{{ url_for('reject_request', request_id=request.id) }}" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">Reject</button>
                </form>

              {% else %}
                <span>No further actions available</span>
              {% endif %}

            </div>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock %}
