{% extends 'base.html' %}

{% block pageTitle %} Services {% endblock %}

{% block content %}

    <div class="container mt-4">
        <h3 class="text-center display-5 my-2">MadyPro Services</h3>
        <div class="row">
            <div class="text-center">
                <p class="lead">Get Our Range of Services At Best Price, And Exclusive Professionals</p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <form action="{{ url_for('services') }}" method="GET" class="d-flex justify-content-center mb-4">
            <input type="text" name="keyword" placeholder="Search for service..." class="form-control w-50" required>
            <button type="submit" class="btn btn-warning ms-2">Get Results</button>
        </form>
    </div> 

    <div class="container mt-4">
        {% if not category %}
            {% set category = "All" %}
        {% endif %}
        <p class="lead">- found <b>{{ services|length }}</b> service(s) in <b>{{ category }}</b></p>
        <div class="row">
            {% for service in services %}
            <div class="col-md-3 mb-4">
                <div class="card border border-0">
                    <div class="card-body shadow rounded">
                        <h5 class="card-title text-center">{{ service.name }}</h5>
                        <p class="card-text text-center">Base Price: &#8377;{{service.price}}</p>
                        <p class="card-text text-truncate">{{service.description.title()}}</p>
                        <div class="text-center">
                            <a href="{{ url_for('get_professionals_of_service', service_id=service.id) }}" class="btn btn-warning">Get Professionals</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}