{% extends 'admin.html' %}

{% block title %}
    Update Service
{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST">

                    <div class="mb-3">
                      <label for="serviceName" class="form-label">Service Name</label>
                      <input type="text" class="form-control" id="serviceName" name="serviceName" value="{{ service.name }}" aria-describedby="serviceHelp" required>
                      <div id="serviceHelp" class="form-text">The service name must be unique</div>
                    </div>

                    <div class="mb-3">
                        <label for="servicePrice" class="form-label">Base Price (in &#8377;)</label>
                        <input type="number" class="form-control" id="servicePrice" name="servicePrice" value="{{ service.price }}" min="10" required>
                    </div>

                    <div class="mb-3">
                        <label for="serviceCategory" class="form-label">Service Category</label>
                        <input type="text" class="form-control" id="serviceCategory" name="serviceCategory" value="{{ service.category.name }}" disabled>
                    </div>
                    
                    <div class="mb-3">
                        <label for="serviceDescription" class="form-label">Service Description</label>
                        <textarea class="form-control" id="serviceDescription" name="serviceDescription" rows="3" required>{{ service.description }}</textarea>
                        <div id="serviceHelp" class="form-text">Tell the customers more about this service</div>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

{% endblock %}